.tmydoc-nodefiles
{
	display:inline;
	float:none;
}

.tmydoc-nodefiles .filefield-icon
{
	display:inline;
	float:none;

}

.tmydoc-nodefiles .filefield-icon
{
	margin-right: 0;
}

.tmydoc-nodefiles .filefield-icon img
{
	margin-bottom: -0.25em;
}

.tmydoc-file .filefield-icon
{
	line-height: 1;
}

.view-tmydocs-folder caption,
.tmydoc-folder
{
	font-size: 1.6em;
	padding-left:24px;
	margin-left:-3px;
	background: transparent url(images/folder-24px.png) no-repeat top left;
	text-align: left;
}

.tmydoc-child-folder
{
	padding-left:18px;
	margin-left:16px;
	padding-bottom: 2px;
	background: transparent url(images/folder-16px.png) no-repeat top left;
}